node_modules
elm-stuff
.parcel-cache

/.coverage
/lib
/generated/**
!/generated/.gitkeep

/example/dist/**
!/example/dist/index.html
!/example/dist/favicon.ico

/example/inline/dist
/example/dynamic/dist
