:root {
  --nav-height: 3.5rem;
  --file-header-height: 2.5rem;
  --explanation-padding-x: 1.2rem;
  --explanation-padding-y: 1rem;
}

body,
html {
  background-color: #757f82;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
a {
  line-height: 1.5;
}

h2 {
  margin-top: 1rem;
}

a {
  color: lightblue;
}

select {
  padding: 0.5rem;
}

.content {
  display: flex;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.left-sidebar {
  height: 100%;
  width: 33%;
}

.nav {
  align-items: center;
  background-color: #536f76;
  display: flex;
  font-size: 1.5rem;
  height: var(--nav-height);
  justify-content: space-between;
}

.arrow {
  display: flex;
}

.explanation {
  background-color: #354042;
  color: rgb(211, 211, 211);
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--nav-height) - 2 * var(--explanation-padding-y));
  row-gap: 10px;
  padding: var(--explanation-padding-y) var(--explanation-padding-x);
  overflow: auto;
}

.playground {
  display: flex;
  flex-direction: column;
  width: 67%;
}

.file-header-container {
  align-items: flex-end;
  display: flex;
  height: var(--nav-height);
}

.file-header-container > select {
  margin-left: auto;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.flex {
  display: flex;
}

.file-header {
  background-color: lightgray;
  border-top: 2px solid rgb(180, 180, 180);
  border-right: 2px solid rgb(180, 180, 180);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 10px 20px;
}

.active {
  background-color: #2d2d2d;
  border-bottom: 0;
  color: white;
}

.editor {
  height: calc(50% - var(--nav-height));
  overflow: auto;
}

.error-message {
  background-color: rgb(152, 67, 67);
  color: white;
  padding: 1rem;
}

highlighted-code > pre[class*="language-"] {
  margin: 0;
}

.highlighted {
  background-color: #cac8c8;
  color: #2d2d2d;
  padding: 2px 6px;
  margin: 0px 4px;
  border-radius: 10px;
  white-space: nowrap;
}

.accordion-headline {
  align-items: center;
  background-color: rgb(94, 94, 94);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.accordion-content {
  padding-left: 4px;
  overflow: hidden;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 600px) {
  .content {
    width: 200vw;
    max-width: 200%;
    position: relative;
    transition: right 1s ease;
  }

  .left-sidebar {
    width: 50%;
  }

  .playground {
    width: 50%;
  }
}
